(link_mesh_relative_paths:[Some("mesh_modules/original_meshes_module/meshes/base.dae"),Some("mesh_modules/original_meshes_module/meshes/shoulder.dae"),Some("mesh_modules/original_meshes_module/meshes/upperarm.dae"),Some("mesh_modules/original_meshes_module/meshes/forearm.dae"),Some("mesh_modules/original_meshes_module/meshes/wrist1.dae"),Some("mesh_modules/original_meshes_module/meshes/wrist2.dae"),Some("mesh_modules/original_meshes_module/meshes/wrist3.dae"),None,None,None,None])