(link_mesh_relative_paths:[None,Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link00.stl"),Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link01.stl"),Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link02.stl"),Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link03.stl"),Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link04.stl"),Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link05.stl"),Some("mesh_modules/convex_hull_meshes_module/meshes/z1_Link06.stl")])