(link_mesh_relative_paths:[Some("panda/mesh_modules/original_meshes_module/meshes/link0.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link1.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link2.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link3.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link4.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link5.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link6.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/link7.dae"),None,Some("panda/mesh_modules/original_meshes_module/meshes/hand.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/finger.dae"),Some("panda/mesh_modules/original_meshes_module/meshes/finger.dae"),None,None])