(link_mesh_relative_paths:[Some("mesh_modules/stl_meshes_module/meshes/link0.stl"),Some("mesh_modules/stl_meshes_module/meshes/link1.stl"),Some("mesh_modules/stl_meshes_module/meshes/link2.stl"),Some("mesh_modules/stl_meshes_module/meshes/link3.stl"),Some("mesh_modules/stl_meshes_module/meshes/link4.stl"),Some("mesh_modules/stl_meshes_module/meshes/link5.stl"),Some("mesh_modules/stl_meshes_module/meshes/link6.stl"),Some("mesh_modules/stl_meshes_module/meshes/link7.stl"),None,Some("mesh_modules/stl_meshes_module/meshes/hand.stl"),Some("mesh_modules/stl_meshes_module/meshes/finger.stl"),Some("mesh_modules/stl_meshes_module/meshes/finger.stl"),None,None])