(link_mesh_relative_paths:[None,Some("b1/mesh_modules/stl_meshes_module/meshes/trunk.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/hip.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/thigh_mirror.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/calf.stl"),None,None,Some("b1/mesh_modules/stl_meshes_module/meshes/hip.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/thigh.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/calf.stl"),None,None,Some("b1/mesh_modules/stl_meshes_module/meshes/hip.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/thigh_mirror.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/calf.stl"),None,None,Some("b1/mesh_modules/stl_meshes_module/meshes/hip.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/thigh.stl"),None,Some("b1/mesh_modules/stl_meshes_module/meshes/calf.stl"),None,None])